<nav class="navbar navbar-expand-lg navbar-light">
    <div class="navbar-container container-fluid">
        <a class="navbar-container__brand navbar-brand mr-auto" routerLink="">TODO<span>LESS</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-container__collapse collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-container__collapse-links navbar-nav ml-auto">
            <a class=" navbar-container__collapse-links__link nav-item nav-link" routerLink="" routerLinkActive="active">Home</a>
            <a class=" navbar-container__collapse-links__link nav-item nav-link" routerLink="" routerLinkActive="active">About Us</a>
            <a class=" navbar-container__collapse-links__link nav-item nav-link" routerLink="" routerLinkActive="active">Contacts</a>
            <a class=" navbar-container__collapse-links__link nav-item nav-link" routerLink="" routerLinkActive="active">How it Works</a>
            <a class=" navbar-container__collapse-links__link  nav-item nav-link register" routerLink="/register" routerLinkActive="active">Register</a>
          </div>
        </div>
    </div>
  </nav>