$black:#333333;
$white:#f7f7f7;;
$lightBlue:#2ca6ef;
$blue:#192965;
$green:#00ca5d;
$pureLight:#fff;
$gray:#999999;
$boxShadow:0px 6px 5px 0px rgba(245, 242, 245, 1);
$mainFont:'Poppins';
$light:300;
$regular:400;
$medium:500;
$semiBold:600;
$bold:700;
$btnBorderRadius :15px;
$btnBorderRadius:20px;