<section class="add-friend">
 <div class="container">
  <div class="add-friend-search">
   <input class="form-control" type="text" placeholder="Search by name / email"/>
  </div>
  <div class="add-friend__content">
   <div class="add-friend__content-info">
     <div class="add-friend__content-info-img">
       <img class="img-fluid" src="../../assets/imgs/friends/friend.png" alt="" />
     </div>
     <div class="add-friend__content-info-name">
       <p>ahmed mohamed</p>
     </div>
   </div>
   <div class="add-friend__content-position">
     <p>ui developer</p>
   </div>
   <div class="add-friend__content-state">
    <button class="btn btn-primary mx-2 btn-lg">Add Friend</button>
   </div>
 </div>
 </div>
</section>
