<!-- ----------------------------------------------------------------------- -->
<!--                          Profile Page Section                           -->
<!-- ----------------------------------------------------------------------- -->
<section class="profile">
  <div class="container">
    <div class="row">
<!-- ---------------------------- profile Info ----------------------------- -->
      <section class="profile__info col-11 col-md-12 col-lg-6 ">
        <div class="row">
          <div class="col-11 col-md-3 profile__info-img">
            <figure class="rounded-circle">
              <img class="img-full" *ngIf="!currentUser.image" src='https://i.postimg.cc/sx7wGfx0/friend.png' style="width: 100%; height: 100%;">
              <img id="imagePreview" *ngIf="currentUser.image" [src]="currentUser.image" style="width: 100%; height: 100%;" />
              <form [formGroup]='userProfile' class=" profile__info-img__form">
                <label class="attach-file">
                  <input class=" profile__info-img__form-input" type="file" id="imageUpload" formControlName='image' (change)="readURL($event)" />
                  <mat-icon>camera_alt</mat-icon><span>Upload Img</span>
                </label>
              </form>
            </figure>
          </div>
          <div class="col-11 col-md-9 profile__info-details">
<!-- ---------------------------- profile Edit ----------------------------- -->
            <button class="editData" #editDataBtn (click)="onEditClick($event,textArea ,bioParagraph,titleTextArea ,titleEdit,saveDataBtn)">Edit<mat-icon>edit</mat-icon></button>
            <div class="profile_info-details_personal">
              <h3>{{currentUser.name}}</h3>
              <p #titleEdit>{{currentUser.title}}</p>
              <textarea #titleTextArea class="profile_info-details_Bio-textarea">{{currentUser.title}}</textarea>
              <div class="row">
                <a class ="col-12 col-md-6" href="mailto:mail1@example.com" target="_top">{{currentUser.email}}</a>
                <div class="profile-info__details-rating col-12 col-md-6">
                  <ng-container *ngFor="let star of stars">
                    <app-star-rating *ngIf="currentUser.starts" [starId]="star" [rating]="currentUser.starts"></app-star-rating>
                    <app-star-rating *ngIf="!currentUser.starts" [starId]="star" [rating]="rating">
                  </app-star-rating>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="profile_info-details_Bio">
              <h2>Bio : </h2>
              <p #bioParagraph>{{currentUser.bio}}</p>
              <textarea #textArea class="profile_info-details_Bio-textarea">{{currentUser.bio}}</textarea>
            </div>
            <button #saveDataBtn class="saveDataBtn btn btn-outline-success" (click)="onSaveClick($event, textArea, bioParagraph, editDataBtn, titleTextArea, titleEdit)">Save</button>
          </div>
        </div>
      </section>
      <section class="profile__chart col-11 col-md-12 col-lg-5  ml-auto bg-white py-5">
            <div style="display: block">
              <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
            </div>
        </section>
    </div>
    <section class="row comments-parent">
      <div class="profile__comments col-11 col-md-12"#created>
        <div class="profile__comments-comment  col-12 pb-5 pt-5">
          <div class="row contentBox" *ngFor='let user of usersComments'>
            <div class="profile__comments-comment__user-img col-1">
              <figure>
                <img class="img-fluid"  *ngIf="user.img" [src]="user.img" alt="" />
                <img class="img-fluid" *ngIf="!user.img" src='https://i.postimg.cc/sx7wGfx0/friend.png'>
              </figure>
            </div>
            <div class="profile__comments-comment__text col-9">
              <h4>{{user.name}}</h4>
              <p>{{user.title}}</p>
              <p>{{user.comment}}</p>
            </div>
            <div class="profile__comments-comment__text col-2">
              <div class="hovering-data">rating : {{user.rate}}</div>
              <ng-container *ngFor="let star of stars">
                <app-star-rating [starId]="star" [rating]="user.rate">
                </app-star-rating>
              </ng-container>
            </div>
          </div>

        </div>
      </div>
      <!-- <div class="col-12 comments-parent__formContainer">
        <form class="comments-parent__formContainer-form" [formGroup]='userComment' (ngSubmit)='onSubmit(userComment)'>
          <textarea formControlName="comment" valid placeholder="Type Your Comment Here ... "></textarea>
          <section class="rate-and-sumbit">
            <div class="hovering-data" #dataHovering>rating : {{rating}}</div>
            <ng-container *ngFor="let star of stars">
              <app-star-rating (starEnter)='onStarEnter($event)' (starLeave)='onStarLeave()'
                (starClicked)='onStarClicked($event,dataHovering)' [starId]="star" [rating]="hoverState || rating">
              </app-star-rating>
            </ng-container>
            <button [disabled]="userComment.invalid" type="submit" class="btn-send" name="submit">send</button>

          </section>
        </form>
      </div> -->

    </section>

  </div>
</section>