<section class="profile">
    <div class="container">
      <div class="row">
        <section class="profile__info col-12 col-md-12 col-lg-6 ">
          <div class="row">
            <div class="col-3 profile__info-img">
              <figure class="rounded-circle">
                <img id="imagePreview" [src]="strangeProfile.image" style="width: 100%; height: 100%;" />
              </figure>
            </div>
            <div class="col-9 profile__info-details">
              <div class="profile_info-details_personal">
                <h3>{{strangeProfile.name}}</h3>
                <p #titleEdit>{{strangeProfile.title}}</p>
                <div class="row">
                  <a class ="col-6" href="mailto:mail1@example.com" target="_top">{{strangeProfile.email}}</a>
                  <div class="profile-info__details-rating col-6">
                    <ng-container *ngFor="let star of stars">
                        <app-star-rating *ngIf="strangeProfile.starts" [starId]="star" [rating]="strangeProfile.starts"></app-star-rating>
                        <app-star-rating *ngIf="!strangeProfile.starts" [starId]="star" [rating]="rating">
                      </app-star-rating>
                    </ng-container>
                  </div>
                </div>
  
              </div>
              <div class="profile_info-details_Bio">
                <h2>Bio : </h2>
                <p #bioParagraph>{{strangeProfile.bio}}</p>
              </div>
            </div>
          </div>
        </section>
        <section class="profile__chart col-12 col-md-12 col-lg-5  ml-auto">
          <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
          [options]="pieChartOptions" [colors]="pieChartColors" [legend]="pieChartLegend">
        </canvas>
          </section>
      </div>
      <section class="row comments-parent">
        <div class="profile__comments col-12 " #created>
          <div class="profile__comments-comment  col-12 pb-5 pt-5">
            <div class="row contentBox" *ngFor='let user of usersComments'>
              <div class="profile__comments-comment__user-img col-1">
                <figure>
                  <img class="img-fluid"  *ngIf="user.img" [src]="user.img" alt="" />
                  <img class="img-fluid" *ngIf="!user.img" src='../../assets/imgs/friends/friend.png'>
                </figure>
              </div>
              <div class="profile__comments-comment__text col-9">
                <h4>{{user.name}}</h4>
                <p>{{user.title}}</p>
                <p>{{user.comment}}</p>
              </div>
              <div class="profile__comments-comment__text col-2">
                <div class="hovering-data">rating : {{user.rate}}</div>
                <ng-container *ngFor="let star of stars">
                  <app-star-rating [starId]="star" [rating]="user.rate">
                  </app-star-rating>
                </ng-container>
              </div>
            </div>
  
          </div>
        </div>
        <div class="col-12 comments-parent__formContainer">
          <form class="comments-parent__formContainer-form" [formGroup]='userComment' (ngSubmit)='onSubmit(userComment)'>
            <textarea formControlName="comment" valid placeholder="Type Your Comment Here ... "></textarea>
            <section class="rate-and-sumbit">
              <div class="hovering-data" #dataHovering>rating : {{rating}}</div>
              <ng-container *ngFor="let star of stars">
                <app-star-rating (starEnter)='onStarEnter($event)' (starLeave)='onStarLeave()'
                  (starClicked)='onStarClicked($event,dataHovering)' [starId]="star" [rating]="hoverState || rating">
                </app-star-rating>
              </ng-container>
              <button [disabled]="userComment.invalid" type="submit" class="btn-send" name="submit">send</button>
  
            </section>
          </form>
        </div>
  
      </section>
  
    </div>
  </section>