@import './../ourVariables.scss';

.all-friends {
  font-family: $mainFont;
  background-color: $white;
  min-height: 100vh;

  a {
    color: grey
  }

  & .nav-tabs {
    border-bottom: unset;
    font-weight: $bold;

    & .nav-link.active {
      background-color: unset;
      border-color: $white;
      border-bottom: 2px solid $lightBlue;
      color: $lightBlue;

    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px)  {
  .nav-tabs{
    flex-wrap: nowrap;
    font-size: 10px;
  }
}